{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Este genera el campo CSRF -->

        <div>
            {{ form.username.label }}  <!-- Etiqueta para el campo de username -->
            {{ form.username(size=20) }}  <!-- Renderiza el campo del formulario -->
        </div>

        <div>
            {{ form.password.label }}  <!-- Etiqueta para el campo de password -->
            {{ form.password(size=20) }}  <!-- Renderiza el campo del formulario -->
        </div>

        <div>
            <button type="submit">Iniciar sesión</button>
        </div>
    </form>
{% endblock %}